
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Member", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @Html.ActionLink("檢視", "personalProfile", "Member")
            <li><a href="#">Welcome : @Session["currentUserName"]</a></li>
            <li></li>
            <li class="nav-item ml-4">
                @Html.ActionLink("登出", "Logout", "Member")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("你還沒登入", "Login", "Member", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        
    </ul>
@*<button type="button"
        class="btn btn-outline-secondary"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
        style="min-width: 100px">
    登入
</button>*@
    
}  