@model CampWebsite.ViewModels.MyOrderDetailViewModel

@{
    ViewBag.Title = "OrderDetail";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
    var firstDay = Model.tOrders.First().fCheckinDate;
    var checkinStart = Model.fCheckinStart;
    var checkinEnd = Model.fCheckinEnd;
    var stayNight = Model.fStayNight;
    var totalPrice = Model.fTotalPrice;
    foreach (var i in Model.tOrders)
    {
        totalPrice += i.fOrderPrice;
    }
}

<div class="container d-flex justify-content-center mt-5">
    <div class="col-12 col-lg-6 border shadow">
        <div class="justify-content-center px-5">
            <p class="mt-4">訂單編號: @Model.fOrderCode</p>
            <div class="d-flex">
                <img src="https://fakeimg.pl/70/" />
                <div class="mx-3">
                    <p class="m-0">營區名稱: @Model.fCampsiteName</p>
                    <p class="m-0">營區電話: @Model.fCampsitePhone</p>
                    <p class="m-0">營區地址: @Model.fCampsiteAddress</p>
                </div>
            </div>
            <hr />
            <div class="d-flex">
                <div class="col-6">
                    <p>入住日期: @Model.fCheckinStart</p>
                    <p>退房日期: @Model.fCheckinEnd</p>
                </div>
                <div class="border col-2 offset-2">
                    <p class="text-center">房數</p>
                    <p class="text-center">@Model.fTentCount</p>
                </div>
                <div class="border col-2">
                    <p class="text-center">晚數</p>
                    <p class="text-center">@Model.fStayNight</p>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div>訂單總金額: @Model.fTotalPrice</div>
                <div>已付款</div>
            </div>
            <hr />
            @foreach (var i in Model.tOrders)
            {
                if (i.fCheckinDate != firstDay)
                {
                    return;
                }
                <div class="border my-3 py-3">
                    <div>帳篷名稱: @i.tTent.fTentName</div>
                    <div>最大人數上限: @i.tTent.fTentPeople 人</div>
                    <div>房客姓名: @i.fClientName </div>
                    <div>房客電話: @i.fClientPhone </div>
                </div>
                <hr />
                <br />
            }

        </div>
    </div>
</div>