@model CampWebsite.ViewModels.MyOrderDetailViewModel

<link href="~/Content/CommentStar.css" rel="stylesheet" />
@{
    ViewBag.Title = "OrderDetail";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
    var firstDay = Model.tOrders.First().fCheckinDate;
    var checkinStart = Model.fCheckinStart;
    var checkinEnd = Model.fCheckinEnd;
    var stayNight = Model.fStayNight;
    var totalPrice = Model.fTotalPrice;
    var myOrderCode = Model.fOrderCode;
    var campsitePhoto = "/Images/Campsites/Campsite" + Model.fCampsiteID + "/Cover.jpg";
    foreach (var i in Model.tOrders)
    {
        totalPrice += i.fOrderPrice;
    }
}

<div class="container d-flex justify-content-center mt-5">
    <div class="col-12 col-lg-6 border shadow">
        <div class="justify-content-center px-5">
            <p class="mt-4">訂單編號: @myOrderCode</p>
            <div class="d-flex flex-column">
                <img src=" @campsitePhoto" class="w-100" />
                <div class="mx-3">
                    <p class="m-0">營區名稱: @Model.fCampsiteName</p>
                    <p class="m-0">營區電話: @Model.fCampsitePhone</p>
                    <p class="m-0">營區地址: @Model.fCampsiteAddress</p>
                </div>
            </div>
            <hr />
            <div class="d-flex">
                <div class="col-6">
                    <p>入住日期: @Model.fCheckinStart</p>
                    <p>退房日期: @Model.fCheckinEnd</p>
                </div>
                <div class="border col-2 offset-2">
                    <p class="text-center">房數</p>
                    <p class="text-center">@Model.fTentCount</p>
                </div>
                <div class="border col-2">
                    <p class="text-center">晚數</p>
                    <p class="text-center">@Model.fStayNight</p>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div>訂單總金額: @Model.fTotalPrice</div>
                <div>已付款</div>
            </div>
            <hr />
            @foreach (var i in Model.tOrders)
            {
                if (i.fCheckinDate == firstDay)
                {
                    <div class="border my-3 py-3">
                        <div>帳篷名稱: @i.tTent.fTentName</div>
                        <div>最大人數上限: @i.tTent.fTentPeople 人</div>
                        <div>房客姓名: @i.fClientName </div>
                        <div>房客電話: @i.fClientPhone </div>
                    </div>
                    <hr />

                }
            }
            @{
                if (Model.tComment != null)
                {
                    <div class=" my-3 py-3 " id="commentArea">
                        @*<h2>營區評論</h2>*@

                        <div class=" py-1  mt-1 d-flex justify-content-between ">
                            <div class="d-flex align-items-center">
                                您對住宿的整體評價為:
                            </div>

                            <div class="rating" id="commentRate">
                                @Model.tComment.fCommentScore 分
                            </div>
                        </div>
                        <textarea class="form-control" style="resize:none" rows="5" placeholder="分享您對住宿體驗的想法" readonly> @Model.tComment.fComment</textarea>

                    </div>
                    <br />
                }
                else if (Model.tOrders.Last().fCheckinDate < DateTime.Today)
                {
                    <div class=" my-3 py-3 " id="commentArea">
                        @*<h2>營區評論</h2>*@

                        <div class=" py-1  mt-1 d-flex justify-content-between ">
                            <div class="d-flex align-items-center">
                                您對住宿的整體評價為何:
                            </div>

                            <div class="rating" id="commentRate">
                                @for (int i = 5; i >= 1; i--)
                                {
                                    <input type="radio" name="rating" value="@(i)" id="@(i)" />
                                    <label for="@(i)">☆</label>
                                }
                            </div>
                        </div>
                        <textarea class="form-control" style="resize:none" rows="5" placeholder="分享您對住宿體驗的想法" required></textarea>
                        <button class="my-3 " id="commentBtn">送出評論</button>
                    </div>
                    <br />
                }
            }
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(function () {
        let rating = 5;
        $("#commentRate input").click(function () {
            rating = $(this).val();
        })
        $("#commentBtn").click(function (event) {
            event.preventDefault();
            let fCampsiteID = '@Model.tOrders.First().tTent.fCampsiteID';
            let fOrderID = '@Model.fOrderCode';
            let fCommentScore = rating;
            let fComment = $("#commentArea textarea").val();
            console.log("-----------------------------------");
            console.log("營區ID:" + fCampsiteID);
            console.log("訂單ID:" + fOrderID);
            console.log("分數:" + fCommentScore);
            console.log("評論內容:" + fComment);
            console.log("評分:" + rating);
            console.log("-----------------------------------");
            let userComment = {
                'fCampsiteID': fCampsiteID,
                'fOrderConfirmCode': fOrderID,
                'fCommentScore': fCommentScore,
                'fComment': fComment
            }
            $.ajax({
                url: '@Url.Action("SaveUserComments", "Member")', //請求的url地址
                dataType: "html", //返回格式為json
                async: false, //請求是否非同步，預設為非同步
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: userComment, //資料
                type: "get", //請求方式
                beforeSend: function () {
                    //請求前的處理
                },
                success: function (response) {
                    console.log(this);
                    console.log(this.url);
                    console.log(response);
                    alert("成功");
                    window.location.replace(this.url);
                },
                //complete: function () {
                //    alert("完成");
                //},
                error: function () {
                    alert("失敗");
                }
            });

        });

    })
</script>
