@model CampWebsite.Models.tMember

@{
    ViewBag.Title = "personalProfile";
}

<h2>personalProfile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container d-flex justify-content-center mt-5">
        <div class="col-md-6 border shadow">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item"><a class="nav-link active" data-bs-toggle="pill" href="#p1Profile">會員資料</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#p2Favorite">我的收藏</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#p3Order">歷史訂單</a></li>
            </ul>

            <!-- All tabs main div -->
            <div class="tab-content">
                <!-- Profile tab start -->
                <div class="tab-pane show fade active justify-content-center px-5" id="p1Profile">
                    <img src=@Model.fPhoto width="150px" height="150px" class="rounded-circle border border-primary mx-auto d-flex my-2" onerror="this.src='/Images/Members/default.jpg'"/>
                    <!-- <h2 class="text-center my-3">The Providers</h2> -->
                    <input type="file" accept="image/*" class="btn btn-outline-info mx-auto btn-sm d-flex" id="ChangePic"/>更換照片
                    @*<i class="fas fa-pen m-auto"></i>*@
                    <hr />
                    <div class="form-group mt-3">
                        <label for="fName" class="">姓名</label>
                        <input type="text" class="form-control" name="fName" value="@Model.fName" required />
                    </div>
                    <div class="form-group mt-3">
                        <label for="fEmail" class="">Email</label>
                        <input type="email" class="form-control" name="fEmail" value="@Model.fEmail" disabled readonly />
                    </div>
                    <div class="form-group mt-3">
                        <label for="fPassword" class="">密碼</label> <i class="fa-solid fa-eye"></i> <i class="fa-solid fa-eye-slash"></i>
                        <input type="password" class="form-control" name="fPassword" value="@Model.fPassword" required />
                    </div>
                    <div class="form-group mt-3">
                        <label for="fPhoneNumber" class="">電話</label>
                        <input type="tel" class="form-control" name="fPhoneNumber" value="@Model.fPhoneNumber" maxlength="10" minlength="10" />
                    </div>
                    <div class="form-group mt-3">
                        <label>性別</label>
                        <br />
                        @Html.RadioButtonFor(model => model.fSex, "0", new { @class = "form-check-input", id = "none" })
                        <label for="none" class="">不表態</label>
                        @Html.RadioButtonFor(model => model.fSex, "1", new { @class = "form-check-input", id = "male" })
                        <label for="male" class="">男生</label>
                        @Html.RadioButtonFor(model => model.fSex, "2", new { @class = "form-check-input", id = "female" })
                        <label for="female" class="">女生</label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="name" class="">生日</label>
                        <input type="date" class="form-control" name="fBirthday" value="@ViewBag.Birthday" />

                    </div>
                    <div class="form-group mt-3">
                        <label for="name" class="">會員身分</label>
                        <input type="text" class="form-control" name="fGroup" value="@Model.fGroup" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="name" class="">Email驗證</label>
                        <input type="text" class="form-control" name="fVerified" value="@Model.fVerified" />
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="儲存修改" class="btn btn-info mx-auto d-flex" />
                    </div>
                    <br />
                    <div class="form-group mt-3">
                        <label for="name" class="">刪除帳號</label><br />
                        <input type="button" class="btn btn-danger btn-sm" name="fAvailable" value="刪除帳號" />
                    </div>
                </div>
                <!-- Favorite tab start -->
                <div class="tab-pane fade p-5" id="p2Favorite">
                    <h4 class="text-center">還沒好</h4>

                </div>
                <!-- Order History tab start -->
                <div class="tab-pane fade my-4" id="p3Order">
                    <h3 class="text-center">歷史訂單</h3>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $("#ChangePic").change(function () {

        previewImg(this.files);
    });
    function previewImg(files) {
        if (files.length == 0)
            return;
        var file = files[0];
        var fr = new FileReader();
        //註冊：選檔被讀取完成後之事件處理器
        fr.onload =
            function () {
                $('#p1Profile img').attr({ src: fr.result });
                var data = new FormData();
                data.append("UploadedImage", file);
                sendAjax(data);
                console.log("ajax send~");
            };
        fr.readAsDataURL(file);
    }

    function sendAjax(data) {
        var ajaxRequest = $.ajax({
                type: "POST",
                url: "@Url.Action("uploadPersonalPic")",
                    contentType: false,         // 告诉jQuery不要去這置Content-Type
                    processData: false,         // 告诉jQuery不要去處理發送的數據
                    dataType: "json",
                    data: data
            })
                .done(function (data, textStatus) {
                    //## data 接收回傳的Json，透過each組合結果
                    console.log(data);
                    console.log("回傳成功");
                })
                .fail(function() {
                    console.log("回傳成功");
                });
    }


    ///
    //$('#ChangePic').click(function () {

    //    // Checking whether FormData is available in browser
    //    if (window.FormData !== undefined) {

    //        var fileUpload = $("#ChangePic").get(0);
    //        var files = fileUpload.files;

    //        // Create FormData object
    //        var fileData = new FormData();

    //        // Looping over all files and add it to FormData object
    //        for (var i = 0; i < files.length; i++) {
    //            fileData.append(files[i].name, files[i]);
    //        }

    //        // Adding one more key to FormData object
    //        fileData.append('username', 'will');

    //        $.ajax({
    //            url: '/Member/uploadPersonalPic',
    //            type: "POST",
    //            contentType: false, // Not to set any content header
    //            processData: false, // Not to process data
    //            data: fileData,
    //            success: function (result) {
    //                alert(result);
    //            },
    //            error: function (err) {
    //                alert(err.statusText);
    //            }
    //        });
    //    } else {
    //        alert("FormData is not supported.");
    //    }
    //});


</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>