@model CampWebsite.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>註冊帳號</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div style="max-width:500px" class=" m-auto">
        <div class="modal-header align-items-center">
            <h3>註冊帳號</h3>
        </div>
        @*Body*@
    <div class="modal-body1">
        <div class="form-group">
            @Html.EditorFor(model => model.fName, new { htmlAttributes = new { @class = "form-control text-box single-line", placeholder = "姓名" } })
            @Html.ValidationMessageFor(model => model.fName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.fEmail, new { htmlAttributes = new { @class = "form-control account", placeholder = "example@email.com" } })
            @Html.ValidationMessageFor(model => model.fEmail, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.fPassword, new { htmlAttributes = new { @class = "form-control password", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.fPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control password", placeholder = "Double Confirm Password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group"><input type="checkbox" class="remember" /> 記住我</div>
        @*送出資料*@
        <div class="form-group">
            <div class="btn btn-info col">
                <input type="submit" value="創建帳號" class="btn btn-default" />
            </div>
            <p class="text-danger">@ViewBag.Message</p>
        </div>
    </div>
        @*Footer*@
        <div class="modal-footer">
            <div class="toSignup">
                <span>已經是會員?</span>
                <a href="/Member/Login" type="button" class="member">登入</a>
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
