@model IEnumerable<CampWebsite.Models.tOrder>

@{
    ViewBag.Title = "帳篷-訂單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }

    th {
        text-align: center;
        min-width: 3rem;
    }
</style>

<div class="container-xl min-vh-100" style="">
    <div class="mb-5"></div>
    <div class="page-header mb-3">
        <h2>@Model.First().tTent.fTentName</h2>
        <br />
    </div>


    <table class="table table-hover table-striped align-middle" style="user-select:none">
        <thead class="">
            <tr>
                <th class="text-bold">
                    訂單編號
                </th>
                <th class="text-bold">
                    下單客戶
                </th>
                <th class="text-bold">
                    電郵地址
                </th>
                <th class="text-bold">
                    連絡電話
                </th>
                <th class="text-bold">
                    入住日期
                </th>
                <th class="text-bold">
                    訂單金額
                </th>

                <th class="text-bold">
                    是否付款
                </th>
                <th class="text-bold">
                    @Html.DisplayNameFor(model => model.tMember.fName)
                </th>
            </tr>
        </thead>
        <tbody class="align-middle">

            @foreach (var item in Model)
            {
                <tr style="justify-content:center">
                    <td>
                        @Html.DisplayFor(modelItem => item.fOrderConfirmCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fClientEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fClientPhone)
                    </td>
                    <td>
                        @item.fCheckinDate.ToShortDateString()
                        @*@Html.DisplayFor(modelItem => item.fCheckinDate.)*@
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.fOrderPrice)
                    </td>

                    <td>
                        <i class="fa-solid fa-check">已付款</i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tMember.fName)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.fOrderID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.fOrderID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.fOrderID })
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>