@model CampWebsite.ViewModels.NewCampsiteViewModel

@{ ViewBag.Title = "註冊新營區";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .required::after {
        content: " *";
        color: red;
    }

    .error-type::before {
        content: "注意!! ";
        color: red;
    }

    .error-type {
        color: red;
    }
</style>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>*@

<div class="container">
    <div class="mb-5"></div>
    <div class="page-header mb-3">
        <h3>新增你的營區</h3>
        <br />
        <span>資料完整客人才找的到你唷</span>
    </div>
    <br />

    @using (Html.BeginForm("NewCampsite", "CampOwner", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-10 col-lg-8">

            @*名稱*@
            <div class="form-group mb-5">
                @Html.LabelFor(model => model.tCampsite.fCampsiteName, new { @class = "control-label card-title required" })
                <br />
                <span class="form-text">最多12個字唷</span>
                @Html.EditorFor(model => model.tCampsite.fCampsiteName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tCampsite.fCampsiteName, "", new { @class = "text-danger" })
            </div>


            @*Introduction*@
            <div class="form-group mb-5">
                @Html.LabelFor(model => model.tCampsite.fCampsiteIntroduction, new { @class = "control-label card-title required" })
                <br />
                <textarea class="form-control w-100" cols="20" data-val="true" data-val-required="必填欄位" id="tCampsite_fCampsiteIntroduction" name="tCampsite.fCampsiteIntroduction" rows="5"></textarea>
                @Html.ValidationMessageFor(model => model.tCampsite.fCampsiteIntroduction, "", new { @class = "text-danger" })
            </div>


            @*區域縣市*@
            <div class="mb-5 form-group">
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.tCampsite.fCampsiteArea, new { @class = "control-label card-title required" })
                        @Html.DropDownListFor(model => model.tCampsite.fCampsiteArea, (IEnumerable<SelectListItem>)Model.SelectArea, "請選擇區域", new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.tCampsite.fCampsiteArea, "", new { @class = "text-danger" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.tCampsite.fCampsiteCity, new { @class = "control-label  card-title required" })
                        <select htmlattributes="{ class = form-select }" id="tCampsite_fCampsiteCity" name="tCampsite.fCampsiteCity" class="form-select" onchange="appendAddress(event)">
                            <option value="">請選擇縣市</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.tCampsite.fCampsiteCity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*地址*@
            <div class="form-group mb-5">
                @Html.LabelFor(model => model.tCampsite.fCampsiteAddress, new { @class = "control-label  card-title required" })
                <input class="form-control text-box single-line" data-val="true" data-val-required="必填欄位" id="tCampsite_fCampsiteAddress" name="tCampsite.fCampsiteAddress" type="text" value="">
                @Html.ValidationMessageFor(model => model.tCampsite.fCampsiteAddress, "", new { @class = "text-danger" })
            </div>

            @*phone*@
            <div class="form-group mb-5">
                @Html.LabelFor(model => model.tCampsite.fCampsitePhone, new { @class = "control-label card-title required" })
                @Html.EditorFor(model => model.tCampsite.fCampsitePhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tCampsite.fCampsitePhone, "", new { @class = "text-danger" })
            </div>


            @*altitude*@
            <div class="form-group mb-5">
                <label class="control-label card-title" for="tCampsite_fCampsiteAltitude">海拔高度(公尺)：</label><span id="altitudeDisplay"></span>
                <br />
                <span class="form-text">預設為0</span>
                <div class="d-flex justify-content-center">
                    <div>0</div>
                    <div class="w-100 px-3">
                        <input type="range" id="tCampsite_fCampsiteAltitude" name="tCampsite.fCampsiteAltitude" min="0" max="2500" step="100" class="form-range" value="0">
                    </div>
                    <div>2500</div>
                </div>
                <div class="form-check form-check-inline">
                    @Html.CheckBoxFor(model => model.withoutAltitude, new { @class = "form-check-input" })
                    <label class="form-check-label" for="withAltitude">拒絕提供高度</label>
                </div>
            </div>

            @*tags
                <div class="form-group mb-5">
                    @Html.LabelFor(model => model.PickTags, new { @class = "control-label card-title" })
                    <br />
                    @{  var index = 0;}
                    @foreach (var item in Model.PickTags)
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input dayOffCheck" type="checkbox" value="@item.fTagID" name="PickTags[@index].fTagID">
                            <label class="form-check-label" for="item.fTagID">@item.fTagName</label>
                        </div>

                        index++;
                    }


                </div>*@



            @*公休日*@
            <div class="form-group mb-5">
                @Html.LabelFor(model => model.tCampsite.fCampsiteClosedDay, new { @class = "control-label card-title" })
                <br />
                @for (int i = 0; i < Model.DayOffs.Count(); i++)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input dayOffCheck" type="checkbox" id="@Model.DayOffs[i].Day" name="@Model.DayOffs[i]" value="@Model.DayOffs[i].Value">
                        <label class="form-check-label" for="@Model.DayOffs[i].Day">@Model.DayOffs[i].Day</label>
                    </div>
                }
            </div>


            @*check in time check out time*@
            <div class="mb-5 form-group">
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.tCampsite.fCampsiteCheckInTime, new { @class = "control-label card-title" })
                        <span id="checkinDisplay"></span>
                        <input class="form-control text-box single-line" id="visibleCheckIn" name="tCampsite.fCampsiteCheckInTime" type="time" value="12:00">
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.tCampsite.fCampsiteCheckOutTime, new { @class = "control-label card-title" })
                        <span id="checkoutDisplay"></span>
                        <input class="form-control text-box single-line" id="visibleCheckOut" name="tCampsite.fCampsiteCheckOutTime" type="time" value="12:00">
                    </div>
                </div>
            </div>


            @* cover photo *@
            <div class="form-group mb-5">
                <label class="col-form-label w-100 required">封面照片</label>
                <img src="" alt="" id="coverPhotoPreview" height="200" />
                <input data-val="true" id="coverPhotoInput" name="CoverPhoto" type="file" accept="image/*" onchange="loadCover(event)" class="form-control">
                <span class="form-text" id="coverPhotoMessage">只接受圖檔：jpg   jpeg  png  gif</span>
            </div>

            <div class="form-group mb-5">
                <button type="submit" class="btn btn-success" id="btnSend">新增營區</button>
            </div>
        </div>

    }
</div>

<script>
    //coverPhoto
    const coverInput = document.getElementById("coverPhotoInput");
    const coverPreview = document.getElementById("coverPhotoPreview");
    const coverMessage = document.getElementById("coverPhotoMessage");
    const send = document.getElementById("btnSend");

    function loadCover(e) {
        if (coverInput.files.length == 0) {
            return;
        } else if (!coverInput.files[0].type.startsWith("image/")) {
            send.disabled = true;
            coverPreview.src = "";
            coverMessage.classList.add("error-type");
            return;
        } else {
            coverMessage.classList.remove("error-type");
            send.disabled = false;
            coverPreview.src = URL.createObjectURL(e.target.files[0]);
            coverPreview.onLoad = function () {
                URL.revokeObjectURL(coverPreview.src);
            }
        }
    }
</script>
<script>
        //jQuery
        $(  function () {
            //area & city
            $("#tCampsite_fCampsiteArea").change(function () {
                ChangeCities()
            });
        });

        $(function () {
            $(".dayOffCheck").click(function () {
                if (this.checked == true) {
                    if (this.value == "0") {
                        $(".dayOffCheck").prop('checked',false);
                        $('.dayOffCheck')[7].checked = true

                    //    $(".無公休").checked = true;
                    }

                }

            })
        })

        const  ChangeCities = function() {
            let selectedArea = $("#tCampsite_fCampsiteArea option:selected").val();
            if (    $.trim(selectedArea).length > 0     ) {
                GetCities(selectedArea);
            }
        }
        function GetCities(selectedArea) {
            $.ajax({
                url: '@Url.Action("GetCities", "CampOwner")',
                data: { area: selectedArea },
                type: "post",
                cache: false,
                async: false,
                dataType: "json",
                success: function (data) {
                    $("#tCampsite_fCampsiteCity").empty();
                    if (data.length > 0) {
                        $("#tCampsite_fCampsiteCity").append($("<option></option>").val("").text("請選擇縣市"));
                        $.each(data, function (i, item) {
                            $("#tCampsite_fCampsiteCity").append($("<option></option>").val(item.Key).text(item.Value));
                        });
                    }
                }
            });
        }
        const appendAddress = function (e) {
            e.preventDefault();
            document.getElementById("tCampsite_fCampsiteAddress").value = $("#tCampsite_fCampsiteCity option:selected").val();
            console.log("success");
        }
        //refactory

    //altitude
    const slider = document.getElementById("tCampsite_fCampsiteAltitude");
    const display = document.getElementById("altitudeDisplay");
    display.innerHTML = slider.value;
    slider.oninput = function () {
        display.innerHTML = this.value;
        }

    const noAltitude = document.getElementById("withoutAltitude");
    noAltitude.onchange = function () {
        if (this.checked) {
            slider.disabled = true;
            display.innerHTML = "不提供";
        } else {
            slider.disabled = false;
            slider.innerHTML = 0;
        }
     }
</script>
