@model CampWebsite.ViewModels.NewPhotoViewModel

@{
    ViewBag.Title = "新增帳篷照片";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .required::after {
        content: " *";
        color: red;
    }

    .input-validation-error {
        border: 2px solid red;
    }

    .error-type::before {
        content: "注意!! ";
        color: red;
    }

    .error-type {
        color: red;
    }
</style>

<div class="container ">
    <div class="page-header mb-3">
        <h3>
            新增帳篷照片
        </h3>
        <span>同房型其中一間有照片就好</span>
    </div>
    <br />

    @using (Html.BeginForm("NewPhoto", "CampOwner", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TentName)
        @Html.HiddenFor(model => model.CampsiteID)
        @Html.HiddenFor(model => model.CampsiteName)

        <div class="col col-md-10 col-lg-8">


            @*campsite name*@
            <div class="card-body py-3">
                <label class="col-form-label">營區：</label> @Model.CampsiteName
            </div>


            @* tent name *@
            <div class="card-body py-3">
                <label class="col-form-label">帳篷：</label>
                <label class="col-form-label">@Model.TentName </label>
            </div>


            @* other photos *@
            <div class="form-group">
                <label class="col-form-label w-100">其他照片</label>
                <br />
                <input data-val="true" id="otherPhotosInput" name="OtherPhotos" type="file" accept="image/*" onchange="loadOthers(event)" class="form-control" multiple required>
                <span class="form-text" id="otherPhotosMessage">只接受圖檔：jpg   jpeg  png  gif</span>
            </div>

            @* button *@
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="btnSend">
                    送出
                </button>
            </div>
        </div>
    }
</div>

<script>
    const othersInput = document.getElementById("otherPhotosInput");
    const othersMessage = document.getElementById("otherPhotosMessage");

    function loadOthers(e) {
        const photos = othersInput.files;
        for (var i = 0; i < photos.length; i++) {
            if (!photos[i].type.startsWith("image/")) {
                document.getElementById("btnSend").disabled = true;
                othersMessage.classList.add("error-type");
                return;
            } else {
                document.getElementById("btnSend").disabled = false;
            }
        }
    }
</script>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
