@model  CampWebsite.ViewModels.NewTentViewModel

@{
    ViewBag.Title = "新增住宿選項";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .required::after {
        content: " *";
        color: red;
    }

    .input-validation-error {
        border: 2px solid red;
    }
</style>

<div class="page-header">
    <h3>
        新增住宿選項
    </h3>
    <small>Subtext for header</small>
</div>
<br />


<div class="card">
    <div class="card-body py-3">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            @* which campsite *@
            @Html.HiddenFor(model => model.CampsiteID)
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">營區</label>
                <label class="col-form-label">@Model.CampsiteName</label>
            </div>
            <br />

            @*name*@
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.tTent.fTentName, htmlAttributes: new { @class = "col-sm-2 col-form-label required" })
                <div class="col-md-10">
                    <span class="form-text">最多12個字唷</span>
                    @Html.EditorFor(model => model.tTent.fTentName, new { htmlAttributes = new { @class = "form-control", style = "max-width: 300px" } })
                    @Html.ValidationMessageFor(model => model.tTent.fTentName, "", new { @class = "text-danger" })
                </div>
            </div>

            @*房型數量*@
            <div class="form-group mb-3">
                <label class="col-sm-3 col-form-label control-label required">數量</label>
                <div class="col-md-10">
                    <input type="number" name="Quantity" value="1" min="1" max="10" />
                </div>
                <span class="form-text">同樣的房型，最多可以一次增加10間</span>
            </div>

            @*房型選單*@
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.tTent.fTentCategory, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    <select class="form-select" multiple data-val="true" data-val-required="必填" style="max-width:300px" id="Category" name="tTent.fTentCategory">
                        <option value="小帳棚" selected>小帳棚</option>
                        <option value="大帳篷">大帳篷</option>
                        <option value="露營車">露營車</option>
                        <option value="小木屋">小木屋</option>
                        <option value="Villa">Villa</option>
                        <option value="露營區域">露營區域</option>
                    </select>
                </div>
            </div>

            @*容納人數*@
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.tTent.fTentPeople, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    <input type="number" value="4" min="4" class="form-control" data-val="true" data-val-number="人數請輸入數字" data-val-required="必填欄位" id="tTent_fTentPeople" name="tTent.fTentPeople" style="max-width: 300px">
                    @*<input type="number" name="@Model.tTent.fTentPeople" value="4" min="4" />*@
                    @*@Html.EditorFor(model => model.fTentPeople, new { htmlAttributes = new { @class = "form-control", style = "max-width: 300px" } })*@
                </div>
            </div>

            @*價錢*@
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.tTent.fTentPriceWeekday, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tTent.fTentPriceWeekday, new { htmlAttributes = new { @class = "form-control", style = "max-width: 300px" } })
                    @Html.ValidationMessageFor(model => model.tTent.fTentPriceWeekday, "", new { @class = "text-danger" })
                </div>
            </div>
            @*價錢*@
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.tTent.fTentPriceWeekend, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tTent.fTentPriceWeekend, new { htmlAttributes = new { @class = "form-control", style = "max-width: 300px" } })
                    @Html.ValidationMessageFor(model => model.tTent.fTentPriceWeekend, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    新增住宿
                </button>
                <div class="col-md-offset-2 col-md-10">
                </div>
            </div>
            @*form ends*@
        }
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
